#chatBox {
    -fx-background-color: #f0f0f0;
}
#messageInput {
    -fx-background-color: #7c7c7c;
    -fx-text-fill: #000000;
}

#sendButton {
    -fx-background-color: #008000;
    -fx-text-fill: #ffffff;
}

.message {
    -fx-alignment: TOP_LEFT;
}

.message-right {
    -fx-alignment: TOP_RIGHT;
}

.message-bubble {
    -fx-background-color: #a5d6a7;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
    -fx-wrap-text: true;
    -fx-text-fill: black;
    -fx-border-radius: 10px;
}

.message-bubble-right {
    -fx-background-color: #a5c2d6;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
    -fx-wrap-text: true;
    -fx-text-fill: black;
    -fx-border-radius: 10px;
}
